<div class="row jumbotron">
	<div class="col-md-3 col-md-offset-1" style="text-align: center;">
		<a href="http://mean.io/#!/" target="_blank">
			<img class="img-responsive" src="http://skatox.com/blog/images/2014/07/meanio.png" style="height: 200px; width: 260px;">
			<h3>MEAN</h3>
		</a>

	</div>
	<div class="col-md-4" style="text-align: center;">
		<span class="glyphicon glyphicon-plus" style=" font-size: 100px; margin-top: 50px;"></span>
	</div>
	<div class="col-md-3" style="text-align: center;">
		<a href="http://www.arduino.cc/" target="_blank">
			<img class="img-responsive" src="http://store.arduino.cc/includes/images/stickers_logo_text.png">
			<h3>Arduino</h3>
		</a>
		
	

	</div>
</div>

<div class="row">
	<div class="col-md-12">	
		<h2>What is MEANduino?</h2>
		<p>
			MEANduino is a simple boilerplate MEAN application that is intended to serve as a training/learning application for those that want to connect their arduino to the internet of things. It's a free, easy, and fast way to set up a web-server for your Arduino application. Basically, by using various free softwares and services, we are hoping to help individuals that aren't generally web-programmers connect their creations to the internet. Once you have the ability to easily push your data to the internet, you have many more opportunities than you would otherwise have.
		</p>

		<h2>Where can I get it? </h2>
		<p>
			The MEANduino "stack" is available at the github page here: <a target="_blank" href="https://github.com/paulnurkkala/MEANduino">here</a>. Tutorials and other information will be made avaiable to help you set up the free services and take your creation to the next level. 
		</p>

		<h2>What can I do with MEANduino? </h2>
		<p>
			Any. Thing. You want. 
		</p>
		<p>
			That's the point and the fun of what we've done. We've created a bare-bones simple, example-driven "boilerplate" MEAN application that you can use for free to start pushing your information online. If you sit down, take a few minutes to walk through the well documented and explained code, you'll have enough of an understanding to create your own web-enabled Arduino data gathering apps. 
		</p>
		<p>
			Please also visit our <a href="#/demo">demo page</a> for an example of a MEANduino-based application! 
		</p>

		<h2>Can I contribute?</h2>
		<p>
			Absolutely. I have only come up with a small set of ideas, and I can't even begin to imagine half of what the community has already put together. If you have an idea to help out MEANduino, just drop me an email: <a href="mailto: paulnurkkala@gmail.com">paulnurkkala@gmail.com</a>
		</p>
	</div>
</div>
